/* taken directly from fraidycat. all glory to fraidycat */

body {
  background: #ffe;
  color: #F09;
  font-family: Arial, sans-serif;
}
@keyframes slide {
  50% {
    transform: skew(-20deg);
  }
}
.hide {
  display: none;
}
#logo {
  padding: 12px 32px;
}
#loading {
  width: 420px;
  margin: 140px auto;
  text-align: center;
}
#loading p {
  display: inline-block;
  text-align: center;
  padding: 6px;
  font-weight: bold;
  overflow: hidden;
  transform: skew(20deg);
  animation: slide 3s linear infinite;
}
#huh {
  text-align: center;
  margin: 140px auto;
  width: 420px;
  border: dashed 4px #cca;
  border-radius: 32px;
  padding: 20px;
}
#huh h2 {
  color: black;
}
#huh a {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  max-width: 240px;
  border-radius: 32px;
  padding: 20px;
  background: #afa;
  color: #000;
  font-weight: bold;
}
#huh a:hover {
  color: white;
  background: black;
}
<!-- article a -->
#follows a:link {
  text-decoration: none;
}

#follows ol {
  list-style: none;
}
#follows h3 {
  font-size: 1.1rem;
  margin: 8px 0 4px;
}
#follows > ol > li {
  #position: relative;
  border-bottom: 1px dotted #cc7;
}
#follows h3 img.favicon {
  margin-bottom: -6px;
  margin-top: 6px;
  border-radius: 4px;

  background-color: #eca;
  border: 2px solid #eca;
}

#follows .latest-ago {
  border-radius: 4px;
  font-size: .9rem;
  padding: 4px;
  cursor: default;

  color: #ffefd5; /* theme-light */
}

#follows li.age-h a.url {
  padding: 0 3px;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  max-width: calc(100% - 40px);
  white-space: nowrap;
  margin: 4px 4px -6px;
  pointer-events: auto;

  color: #033;
}

#follows li.age-m .latest-ago {
  background-color: #184;
}
#follows li.age-h .latest-ago {
  background-color: #184;
}
#follows li.age-d .latest-ago {
  background-color: #184;
}
#follows li.age-M .latest-ago {
  background-color: #975;
}
#follows li.age-Y .latest-ago {
  background-color: #975;
}

#follows li.age-m span.ago {
  color: #590;
}
#follows li.age-h span.ago {
  color: #590;
}
#follows li.age-d span.ago {
  color: #379;
}
#follows li.age-M span.ago {
  color: #553;
}
#follows li.age-Y span.ago {
  color: #553;
}

#follows li.age-h .posts .ago {
  font-weight: 700;
}

#follows .posts {
  font-size: 1.1rem;
  margin: 6px 0;
  /* padding-left: 30px; */
  position: relative;
  z-index: 2;
  /* pointer-events: none; */
}

#follows .posts a:link {
  color: #620;
  text-decoration: none;
}
#follows .posts a.collapse {
  user-select: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  padding: 0 6px 0 4px;
  margin: 2px 3px;
  overflow: hidden;
}
#follows .posts a.collapse svg {
  stroke: #cc7;
}

#follows span.enter {
  display: none;
}
#follows span.close{
  display: inline;
}

#follows .trunc ol {
  display: inline-block;
  padding-right: 6px; 
  overflow: hidden;
  height: 1.5rem;
  white-space: nowrap;
  max-width: calc(100% - 100px);

}
#follows .trunc .ago::after {
  color: #eca;
  content: " /\0000a0";
}
#follows .trunc li {
  display: inline-block;
}
#follows .trunc span.enter {
  display: inline;
}
#follows .trunc span.close{
  display: none;
}


